/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

#mybar {
	background-color: #E10098;
}

#titulop{
    font-weight: bold;
    color: white;
    font-size: 25px;
}

#barra{
	background-color: #3B3B3E;
    height: 11px !important;
}